body {
    width: 100%;
    height: 250vh;
    margin: 0;
    padding: 0;
    border: 1px solid black;
    background-image: url('../images/background/cart.jpeg');
    background-size: cover;
    background-attachment: fixed;
}

.box {
    width: 80%;
    height: 150vh;
    margin-top: 150px;
    margin-left: auto;
    margin-right: auto;
    border: 0px;
    border-radius: 20px;
    background-color: rgb(249, 246, 246);
}

.header-cart {
    color: rgb(4, 181, 225);
    text-align: center;
    padding-top: 50px;
}

.header-cart h1{
    width: 80%;
    height: 35px;
    padding-top: 5px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 6px;
    background-color: rgb(195, 202, 202);
}
.content{
    display: flex;
    padding-top: 10px;
}
.infor-cart{
    flex: 2;
    padding-right: 12px;
    padding-top: 10px;
}
.infor-cart table{
    width: 100%;
    text-align: center;
}
.infor-cart table th{
    color: #333;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 11px 0px;
    border-collapse: collapse;
    border-bottom: 2px solid gray;
    /* border: 1px solid black; */
}
.infor-cart table p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px; 
    color: #333;   
}
.infor-cart table input{
    width: 30px;
}

.infor-cart table td{
    padding: 20px 0;
    border-bottom: 1px solid grey;
}

.infor-cart table img{
    width: 70px;
    height: 70px;
}

.infor-cart table tr td p{
    font-size: 18px;
}

.infor-cart table tr td input[type="checkbox"],
.infor-cart table tr td input[type="submit"]{
    width: 30px;
    height: 30px;
    font-size: 30px;
}

.infor-cart table tr td input[type="text"]{
    width: 100px;
    height: 30px;
    font-size: 20px;
    background-color: transparent;
    border: none;
    text-align: center;
}

.infor-cart table tr td input[type="text"]:focus {
    outline: none;
}

.pay-cart{
    flex: 1;
    padding-left: 12px;
    border-left: 2px solid grey;
}

.pay-cart-button{
    padding-top: 10px;
    text-align: center;
    align-items: center;
}
.pay-cart-button button{
    padding: 0 18px;
    height: 35px;
    cursor: pointer;
}

.footer{
    background-color: white;
    margin-top: 200px;
    padding-bottom: 20px;
}