*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
img {
    width:200px;
    height: 75px;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: black;
}
header {
    display:flex;
    justify-content: space-between;
    padding: 12px 50px;
    height: 70px;
    align-items: center;
    background-color: skyblue;
}
.logo{
    flex: 1;
}
.menu{
    flex: 3;
    display: flex;
    z-index: 1000;
}
.menu li{
    padding: 0 12px;
    position: relative;
}
.menu li:hover .submenu{
    visibility: visible;
    top: 45px;
}

.menu li a{
    font-size: 20px;
    font-weight: bold !important; 
    display: block; 
    line-height: 20px;
}
.submenu{
    position: absolute;
    width: 380px;
    height: 260px;
    border: 1px solid #ccc;
    padding: 10px 0 10px 20px;
    visibility: hidden;
    top: 60px;
    transition: 0.5s;
    background-color: #ccc;
}

.submenu li{
    padding: 10px;
}

.submenu li a{
    font-weight: normal;
    transition: font-size 0.5s;
}

.submenu li a:hover{
    color: rgb(0, 85, 255);
    font-size: 23px;
}

.submenu li a:active{
    color: rgb(72, 167, 249);
    text-decoration: underline;
}

.option{
    flex: 1;
    display: flex;
}
.option li{
    padding: 0 12px;
}
.option li:first-child{
    position: relative;
}
.option li:first-child input{
    width: 100%;
    border: none;
    border-bottom: 1px solid #333;
}
.option li:first-child i{
    position: absolute;
    right: 10px;
}