*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
img {
    width:200px;
<<<<<<< HEAD
    height: 75px;
=======
    height:100px;
>>>>>>> 0a0201be61d91adfeb9f60787d16179081eb8dce
}
li{
    list-style: none;
}
a{
    text-decoration: none;
<<<<<<< HEAD
    color: black;
=======
>>>>>>> 0a0201be61d91adfeb9f60787d16179081eb8dce
}
header {
    display:flex;
    justify-content: space-between;
    padding: 12px 50px;
    height: 70px;
    align-items: center;
<<<<<<< HEAD
    background-color: skyblue;
=======
>>>>>>> 0a0201be61d91adfeb9f60787d16179081eb8dce
}
.logo{
    flex: 1;
}
<<<<<<< HEAD
.menu{
    flex: 3;
    display: flex;
    z-index: 1000;
}
.menu li{
    padding: 0 12px;
    position: relative;
}
.menu li:hover .submenu{
    visibility: visible;
    top: 30px;
}
.menu li a{
    font-size: 20px;
    font-weight: bold !important; 
    display: block; 
    line-height: 20px;
}
.submenu{
    position: absolute;
    width: 350px;
    border: 1px solid #ccc;
    padding: 10px 0 10px 20px;
    visibility: hidden;
    top: 50px;
    transition: 0.5s;
    background-color: #ccc;
}
.submenu li a{
    font-weight: normal;
=======
.menuon{
    flex: 3;
    display: flex;
}
.menuon li{
    padding: 0 12px;
>>>>>>> 0a0201be61d91adfeb9f60787d16179081eb8dce
}
.option{
    flex: 1;
    display: flex;
}
.option li{
    padding: 0 12px;
}
.option li:first-child{
    position: relative;
}
.option li:first-child input{
    width: 100%;
<<<<<<< HEAD
    border: none;
    border-bottom: 1px solid #333;
}
.option li:first-child i{
    position: absolute;
    right: 10px;
}
.aspect-ratio-169 {
    display: block;
    position: relative;
    padding-top: 56.25%;
    transition: 0.3s;
  }
  
.aspect-ratio-169 img {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
.dot-container{
    position: absolute;
    height: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.dot{
    height: 18px;
    width: 18px;
    background-color: #ccc;
    border-radius: 50%;
    margin-right: 12px;
}
.dot.active {
    background-color: #333;
}
  
=======
}
.option li:first-child i{
    position: absolute;
}
>>>>>>> 0a0201be61d91adfeb9f60787d16179081eb8dce
