body {
    background: linear-gradient(white, rgb(0, 213, 255), blue, white 90%);
}

.menu>li:nth-child(3)>a{
    color: rgb(68, 199, 222);
}

.row{
    display: flex;
    flex-wrap: wrap;
}
.product{
    padding: 100px 0 0;
}
.pro-center{
    width: 100%;
    margin-bottom: 10px;
}
.pro-top-items:first-child{
    flex: 2;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.pro-top-items{
    flex: 1;
    padding: 0 12px;
}

.pro-top-items:nth-child(2) p{
    font-size: 20px;
    font-weight: bold;
}

.pro-top-items select{
    font-size: 17px;
    width: 100%;
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    background-color: #ffff;
    border: 1px solid #dddddd;
    cursor: pointer;
}

.product-info {
    height: 300px;
    width: 200px;
    border: none;
    margin-bottom: 5px;
    margin-left: 10px;
    /* background-color: rgb(173, 217, 234); */
    background: linear-gradient(120deg, white 5%, rgb(0, 115, 255)) ;
    border-radius: 10px;
    box-shadow: 0px 4px 20px 0px rgba(93, 40, 198, 0.651);
}
.product-info img{
    margin-top: 10px;
    margin-left: 25px;
    height: 150px;
    width: 150px;
    border: none;
    border-radius: 5px;
}
.product-info p.name{
    height: 50px;
    text-align: center;
}

.product-info p.price{
    font-weight: bold;
    height: 30px;
    color: red;
    padding-left: 10px;
}

.product-info input{
    margin-left: 40px;
    margin-bottom: 20px;
}
