body {
    background: linear-gradient(white, rgb(0, 213, 255), blue, white 90%);
}

.menu>li:nth-child(3)>a{
    color: rgb(68, 199, 222);
}

.row{
    display: flex;
    flex-wrap: wrap;
}
.product{
    padding: 100px 0 0;
}
.pro-center{
    width: 100%;
    margin-bottom: 10px;
}
.pro-top-items:first-child{
    flex: 2;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.pro-top-items{
    flex: 1;
    padding: 0 12px;
}

.pro-top-items:nth-child(2) p{
    font-size: 20px;
    font-weight: bold;
}

.pro-top-items select{
    font-size: 17px;
    width: 100%;
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    background-color: #ffff;
    border: 1px solid #dddddd;
    cursor: pointer;
}

.frame-product-info{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
}

.product-info {
    height: 300px;
    width: 200px;
    border: none;
    margin-bottom: 5px;
    margin-left: 10px;
    /* background-color: rgb(173, 217, 234); */
    background: linear-gradient(120deg, white 5%, rgb(0, 115, 255)) ;
    border-radius: 10px;
    box-shadow: 0px 4px 20px 0px rgba(93, 40, 198, 0.651);
}
.product-info img{
    margin-top: 10px;
    margin-left: 25px;
    height: 150px;
    width: 150px;
    border: none;
    border-radius: 5px;
}

.product-info .price-id {
    display: flex;
}

.product-info p.name{
    height: 50px;
    text-align: center;
    padding-top: 5px;
}

.product-info p.price{
    font-weight: bold;
    height: 30px;
    width: 50%;
    color: red;
    padding-left: 10px;
}

.product-info p.id-product{
    height: 30px;
    width: 50%;
    color: rgba(67, 67, 67, 0.84);
    padding-left: 30px;
}

.product-info input{
    color: white;
    font-size: 15px;
    font-weight: 400;
    padding: 6px 28px;
    border-radius: 50px;
    border: 0;
    outline: 0;
    margin-left: 40px;
    margin-bottom: 20px;
    background-image: linear-gradient(135deg, #70F570 10%, #49C628 100%);
    transition: 0.3s;
}

.product-info input:hover{
    background: linear-gradient(135deg, #5e915e,rgb(67, 244, 67) 100%);
    font-weight: bold;
}

.product-info input:active{
    background: aquamarine;
    color: black;
}
