.menu > li:nth-child(4) > a {
    color: rgb(68, 199, 222);
}

.promotion-content {
    padding-top: 50px;
}

.promotion-content h1 {
    color: skyblue;
    text-align: center;
    padding-bottom: 80px;
}

.promotion-content p {
    font-size: 22px;
    text-align: center;
}